<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
    <body>
        <br>
        <div class="container">
            <div class="col-md-12">
                <form method="get">
                    <div class="row">
                        <div class="col-md-2">
                            <a class="btn btn-primary" href="{% url 'main:home' %}">MAIN</a>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-primary" href="{% url 'main:allteachers' %}">All_TEACHERS</a>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-primary" href="{% url 'main:create-teacher' %}">Add_Teacher</a>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-primary" href="{% url 'main:create-group' %}">Add_Group</a>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-primary" href="{% url 'main:create-student' %}">Create_Student</a>
                        </div>
                        <div class="col-md-2">
                            <a class="btn btn-primary" href="{% url 'main:students' %}">Edit_STUDENTS</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <table class="table">
                        <tr>
                            <th>Group</th>
                            <th>Teacher</th>
                        </tr>
                        {% for group in groups %}
                            <tr>
                                <td>{{group.name}}</td>
                                <td>{{group.teacher}}</td>
                                <td>
                                    <a class="btn btn-primary" href="{% url 'main:update-group' group.id %}">Edit</a>
                                    <a class="btn btn-primary" href="{% url 'main:delete-group' group.id %}">Remove</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>